
.form-container{
	margin: auto;
	width:500px;


}

.header{
	background: rgb(66,139,202);
	width:502px;
	text-align: left;
	height:50px;
	margin-top: 20px;
}

h1{
	margin-left: 20px;
	color:white;
	font-weight: lighter;
	font-size:20px;
	padding-top: 10px;

}
.footer{
	text-align: center;
	background: rgb(201,222,240);
	width:502px;
	height:50px;
	position: relative;
}

button{
	background: rgb(66,139,202);
	border-radius: 8px;
	height:25px;
	position: absolute;
	left:10px;
	top:10px;
}
#content{
	width:500px;
	margin:0px auto;
	background: white;	
	height:450px;
	border:1px solid grey;
}

textarea, input, select{
	float:left;
	clear:left;
	margin-left: 50px;	
	margin-top: 20px

}
textarea{
	width:400px;
	height:80px;
}
select{
	width:405px;
	height:30px;
	border-radius:0px;
	background: white;
}
input{
	width:400px;
	height: 20px;
}
i{
	float:left;
	clear:left;
	margin-left: 50px;
	margin-top:-22px;
	color:grey;
	opacity: .8;
	padding-left: 3px;


}
.fa-comments{
	margin-top: -83px;
}

::-webkit-input-placeholder{
	padding-left: 25px;
}